body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    transition: background 0.5s, color 0.5s;
    background: linear-gradient(to bottom, #FF7E5F, #FEB47B); 
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    color: #FF6F61; 
}

.list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.lst-itm {
    background-color: #FFD194; 
    margin: 15px 0;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(255, 94, 58, 0.5); 
    font-size: 1.2rem;
    font-weight: 500;
    align-items: center;
    display: flex;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.lst-itm:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(255, 94, 58, 0.7); 
}

.lst-itm:before {
    width: 5px;
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    transition: width 0.4s;
    background: linear-gradient(to bottom right, #FF6F61, #FFD194); 
}

.lst-itm:hover:before {
    width: 100%;
}

.button {
    padding: 8px 16px;
    background: #FF6F61; 
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    transition: background 0.5s ease;
    border: none;
}

.button:hover {
    background-color: #FEB47B; 
}

.dark-mode {
    background: linear-gradient(to bottom, #2C3E50, #FD746C);    
    color: #fff;
}

.dark-mode .lst-itm {
    background: linear-gradient(123deg, #2C3E50, #FD746C); 
    color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.dark-mode .lst-itm:before {
    background: linear-gradient(123deg, #2C3E50, #FD746C); 
}

.dark-mode .button {
    background-color: #FD746C; 
}

.dark-mode .button:hover {
    background-color: #2C3E50; 
}

.btn {
    position: absolute;
    top: 20px;
    background-color: #FF6F61;
    right: 250px;
    border: none;
    transition: background 0.3s ease;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #FEB47B; 
}

.dark-mode .btn {
    background: #2C3E50; 
}

.dark-mode .btn:hover {
    background: #FD746C; 
}

/* Responsive design */
@media (max-width: 780px) {
    .container {
        width: 90%;
    }
    .list {
        width: 100%;
    }
    .lst-itm {
        flex-direction: column;
        text-align: center;
    }
}